name: Generate JSDOCS


#Only generate when you push to main
on:
  push:
    branches:
      - main

jobs:
  generate-documentation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20' 

      - name: Install dependencies (including jsdoc)
        run: npm install

      - name: Generate JSDoc Documentation
        run: npm run docs
      
      - name: Add to docs folder and publish to Github pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs

      